name: Build all Docker images
on:
  repository_dispatch:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  init:
    name: Init
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.result.outputs.tag }}
    steps:
      - name: get latest tag
        id: result
        run: curl -s https://api.github.com/repos/versatiles-org/versatiles-rs/tags | jq -r '"tag=" + first(.[] | .name | select(startswith("v")))' >> "$GITHUB_OUTPUT"

### BASIC IMAGES

  basic:
    needs: [init]
    strategy:
      fail-fast: false
      matrix:
        include:
          - { variants: "alpine,", filename: basic-alpine }
          - { variants: "debian",  filename: basic-debian }
          - { variants: "scratch", filename: basic-scratch }
    uses: ./.github/workflows/build-single-image.yml
    secrets: inherit
    with:
      variants: ${{ matrix.variants }},
      filename: ${{ matrix.filename }},
      tag: "${{ needs.init.outputs.tag }}"

### FRONTEND IMAGES

  frontend:
    needs: [init, basic]
    strategy:
      fail-fast: false
      matrix:
        include:
          - { variants: "alpine,", filename: frontend-alpine }
          - { variants: "debian",  filename: frontend-debian }
          - { variants: "scratch", filename: frontend-scratch }
    uses: ./.github/workflows/build-single-image.yml
    secrets: inherit
    with:
      variants: ${{ matrix.variants }},
      filename: ${{ matrix.filename }},
      tag: "${{ needs.init.outputs.tag }}"
